// Variables
$bodybg: rgba(200, 214, 229, 0.5);
$footerbg: rgb(47, 54, 64);
$mainlinkcolor: rgb(52, 152, 219);
$footerLink: rgb(113, 128, 147);

// Body

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
.button {
    border-radius: 0;
}

// Header

.site-header {
    border-bottom: 1px solid #ddd;
    .button {
        font-weight: 400;
    }
}

// Content

.entry-content a{
    box-shadow: inset 0 -7px 0 0 #fcdedb;
}

.site-content img{
    width: 100%;
}

.site-container {
    padding: 1.5rem 0;
}

.post-list {
    margin-top: 0rem;
    flex-wrap: wrap;
    .entry-header{
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.3;
        padding: 0.5rem 0;    
    }
}
.cs-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    span {
        padding: 0.25rem;
    }
}

.pagination-wrap {
    max-width: 700px;
    padding: 2rem;
    margin: 0 auto;
    .pagination-link {
        background: white;
    }
    .pagination-link.is-current{
        background: $footerbg;
    }
    .pagination-previous {
        background: #fff !important;
    }
    .pagination-next {
        background: #fff !important;
    }
}

// Site Footer